include ../helpers/mixins

block vars
	- const baseDir = ''
	-
		const title = 'Славянский'
		const description = ''
	-
		const html = {
			attrs: {
				lang: 'ru'
			},
			classList: []
		}
	-
		const body = {
			attrs: {},
			classList: []
		}
	-
		const meta = {
			charset: 'utf-8',
			description: description,
			formatDetection: {
				address: true,
				date: true,
				email: true,
				telephone: true
			},
			keywords: [],
			viewport: 'width=device-width, initial-scale=1, shrink-to-fit=no',
			XUACompatible: 'IE=edge'

		}
	-
		const link = {


		}
doctype html
html(class=html.classList)&attributes(html.attrs)
	head
		block head-start
		block meta
			if meta.charset !== null
				meta(charset!=meta.charset)
			if meta.XUACompatible !== null
				meta(http-equiv="X-UA-Compatible" content!=meta.XUACompatible)
			if meta.viewport !== null
				meta(name="viewport" content!=meta.viewport)
			if meta.description !== null
				meta(name="description" content!=meta.description)
			if meta.keywords !== null && !(Array.isArray(meta.keywords) && !meta.keywords.length)
				meta(name="keywords" content!=(Array.isArray(meta.keywords) ? meta.keywords.join(', ') : meta.keywords))
			if title !== null
				title!= title
		block links
			link(rel="icon" href=`${baseDir}img/favicon.ico` sizes="any")
			link(rel="icon" href=`${baseDir}img/favicon.svg` type="image/svg+xml")
			link(rel="apple-touch-icon" href=`${baseDir}img/apple.png` type="image/svg+xml")

		block styles
			//- link(rel="stylesheet" href!=`${baseDir}assets/css/normalize.css`)
			link(rel="stylesheet" href!=`${baseDir}assets/css/swiper.css`)
			link(rel="stylesheet" href!=`${baseDir}assets/css/fancybox.css`)
			link(rel="stylesheet" href!=`${baseDir}css/style.css?v=${Date.now()}`)
			//- script(src="https://api-maps.yandex.ru/2.1/?apikey=a92dde52-6b45-4e28-acd3-d91e7b5555e0&lang=ru_RU")
			script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<74847068-4675-412d-bc25-52d84c6d1361>" type="text/javascript")
		block head-end
	body(class=body.classList)&attributes(body.attrs)
		block body-start
		block content
		block scripts
			script(src!=`${baseDir}assets/js/swiper-bundle.js` defer)
			script(src!=`${baseDir}assets/js/fancybox.umd.js` defer)
			script(src!=`${baseDir}assets/js/inputmask.js` defer)
			script(src!=`https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js` defer)
			script(src!=`${baseDir}js/app.js?v=${Date.now()}`)
		block body-end



