//- Определяем миксин
mixin product_cart_item(image, title, stock, price, optPrice)
    a.product-card(href="#")
        img.product-card__image(src=image, alt=title)
      
        .product-card__info
            .product-card__title(href="#")= title
            .product-card__stock В наличии: 
                span= stock
            .product-card__price 
                span.product-card__price-current от #{price} ₽/м²
                    p розничная цена
            .product-card__price.wholesale_price
                span.product-card__price-current от #{optPrice} ₽/м²
                    p оптовая цена
        .product-card__bottom-block
            .product-card__red_button.red_button(data-incart="") В коллекцию
            .product-card__compare_button(data-compare="")
                img(src="./img/icons/line_desc.svg", alt="")
            .product-card__like_button(data-like="")
                img(src="./img/icons/heart_desc.svg", alt="")



    //- Вызов миксина с параметрами
//- +product_cart_item(
//-   "img/stone.jpg", 
//-   "Хит продаж", 
//-   "56967", 
//-   "Керамогранит Barcelona светло-серая 600×600", 
//-   "150 шт. / 150 м²", 
//-   "1 723", 
//-   "2 150", 
//-   "-20%"
//- )
